

  .container {
    padding: 50px;
    margin: auto;
    position: center;
      width: 350px;
      height: 500px;
      border-radius: 20px;
      background: #ecf0f3;
      box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
      border-radius: 20px;
      border-color: black;
  
      
  }

  input[type=text], input[type=password] ,input[type=email]
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(226, 9, 9);
  box-sizing: border-box;
}